@using RestaurantAggregator.CommonFiles
@model RestaurantAggregator.CommonFiles.Dto.UserDto

@{
    ViewBag.Title = "Detail User";
}

<div class="btn-group">
    <form asp-action="ChangeStatusBannedUser" asp-route-id="@Model.Id">
        @if (@Model.isBanned)
        {
            <button type="submit" class="btn btn-sm btn-dark">
                Разбанить
            </button>
        }
        else
        {
            <button type="submit" class="btn btn-sm btn-danger">
                Забанить
            </button>
        }
    </form>

    @if (!@Model.Roles.Contains(UserRoles.Cook))
    {
        <div style="padding-left: 10px"></div>
        <form asp-action="AddCookRole" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-dark">
                Добавить роль повара
            </button>
        </form>
    }
    else
    {
        <div style="padding-left: 10px"></div>
        <form asp-action="EditRestaurantIdForCook" method="get" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-primary">
                Изменить ресторан, в котором он работает поваром
            </button>
        </form>
        
        <div style="padding-left: 10px"></div>
        <form asp-action="" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-danger">
               Удалить роль повара
            </button>
        </form>
    }
    
    @if (!@Model.Roles.Contains(UserRoles.Manager))
    {
        <div style="padding-left: 10px"></div>
        <form asp-action="AddManagerRole" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-dark">
                Добавить роль менеджера
            </button>
        </form>
    }
    else
    {
        <div style="padding-left: 10px"></div>
        <form asp-action="EditRestaurantIdForManager" method="get" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-primary">
                Изменить ресторан, в котором он работает менеджером
            </button>
        </form>
        <div style="padding-left: 10px"></div>
        <form asp-action="" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить роль менеджера
            </button>
        </form>
    }
    
    @if (!@Model.Roles.Contains(UserRoles.Courier))
    {
        <div style="padding-left: 10px"></div>
        <form asp-action="AddCourierRole" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-dark">
                Добавить роль курьера
            </button>
        </form>
    }
    else
    {
        <div style="padding-left: 10px"></div>
        <form asp-action="" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить роль курьера
            </button>
        </form>
    }
</div>

<div style="padding: 10px"></div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.Username</h5>
        <p class="card-text">Id: @Model.Id</p>
        <p class="card-text">
            roles: @foreach (var role in @Model.Roles)
            {
                @role
            }
        </p>
        <p class="card-text">Email: @Model.Email</p>
        <p class="card-text">Дата рождения: @Model.BirthDate</p>
        <p class="card-text">Пол: @Model.Gender</p>
        <p class="card-text">Телефон: @Model.Phone</p>
        @if (@Model.Roles.Contains(UserRoles.Customer))
        {
            <p class="card-text">address: @Model.Address</p>
        }
        @if (@Model.Roles.Contains(UserRoles.Manager))
        {
            <p class="card-text">Id ресторана, где он работает менеджером: @Model.ManagerRestaurantId</p>
        }
        @if (@Model.Roles.Contains(UserRoles.Cook)){
            <p class="card-text">Id ресторана, где он работает поваром: @Model.CookRestaurantId </p>
        }
    </div>
</div>

<div style="padding: 10px"></div>
<div>
    <a asp-action="Get">Вернуться назад</a>
</div>