@using RestaurantAggregator.CommonFiles
@model RestaurantAggregator.CommonFiles.Dto.UserDto

@{
    ViewBag.Title = "Detail User";
}

<div style="padding: 10px"></div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.Username</h5>
        <p class="card-text">id: @Model.Id</p>
        <p class="card-text">
            roles: @foreach (var role in @Model.Roles)
            {
                @role
            }
        </p>
        <p class="card-text">email: @Model.Email</p>
        <p class="card-text">Birthdate: @Model.BirthDate</p>
        <p class="card-text">gender: @Model.Gender</p>
        <p class="card-text">phone: @Model.Phone</p>
        @if (@Model.Roles.Contains(UserRoles.Customer))
        {
            <p class="card-text">address: @Model.Address</p>
        }
        @if (@Model.Roles.Contains(UserRoles.Manager))
        {
            <p class="card-text">restaurant id of manager: @Model.ManagerRestaurantId</p>
        }
        @if (@Model.Roles.Contains(UserRoles.Cook)){
            <p class="card-text">restaurant id of cook: @Model.CookRestaurantId</p>
        }
    </div>
</div>

<div style="padding: 10px"></div>
<div>
    <a asp-action="Get">Вернуться назад</a>
</div>