@model List<RestaurantAggregator.CommonFiles.Dto.UserDto>

@{
    ViewBag.Title = "Users";
}

<form asp-action="Add" asp-controller="Users" method="get" class="float-end">
    <button type="submit" class="btn btn-sm btn-dark">
        Создать нового пользователя
    </button>
</form>
<div style="padding: 20px"></div>

<div style="padding: 10px"></div>
<div class="card col-md-12">
    <table class="table table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody class="bg-light">
        @foreach (var user in @Model)
        {
            <tr class="border-bottom">
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>
                    @foreach (var role in @user.Roles)
                    {
                        <p>@role</p>
                    }
                </td>
                <td>
                    <form asp-action="Details" asp-controller="Users" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Подробнее
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-action="Edit" asp-controller="Users" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Редактировать
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Get">Вернуться назад</a>
</div>
